@{
  Layout = "_Layout";
}

<h1>Welcome to the factory Chatar!</h1>
@*<p>@Html.ActionLink("See all machines", "Index", "Machines")</p> <p>@Html.ActionLink("See all engineer", "Index", "Engineer")</p>/*@
