@{
  Layout = "_Layout";
}

<h1>Welcome to the factory Chatar!</h1>
<h2>Here you can see a list of Engineers and the qualifications they have. If you want to be part of the collective add your name and machines you are able to work on!</h2>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p> 
<p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p>
